@model IEnumerable<ReviewViewModelWithBookInfoAndId>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Reviews</h1>

<div>
    @foreach (var review in Model)
    {
        <hr />
        <div class="d-flex align-items-start">
            @* Left side of individual review block - details *@
            <div>
                <h2>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@review.BookId"><strong>@review.BookTitle</strong></a>
                     by @review.BookAuthor
                </h2>
                <h4>
                    @* The user must have librarian/admin privileges to see this page, so it's okay to show the reviewer's last name *@
                    Review by <strong>@review.ReviewerName</strong> on @review.CreatedAt.ToShortDateString()
                </h4>
                <h5>
                    Rating: <strong>@review.RatingOutOfFive</strong>
                </h5>
            </div>
            @* Right side of individual review block - buttons *@
            <div class="d-flex flex-column ms-auto">
                <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger px-0" style="width: 120px">Delete Review</a>
            </div>
        </div>
        <p>
            @review.ReviewText
        </p>
    }
    <hr />
</div>
